/* ---------------------------------------------- /*
 * Main SCSS
/* ---------------------------------------------- */

/*----- Variables & Mixins -----*/

$color-darkblue: #002A4A;
$color-lightblue: #17607D;
$color-tan: #FFF1CE;
$color-orange: #FF9311;
$color-red: #D64700;
$color-white: #FFF;

@mixin bg-darkblue($tint) {
  background: rgba(0, 42, 74, $tint);
}
@mixin bg-lightblue($tint) {
  background: rgba(23, 96, 125, $tint);
}
@mixin bg-tan($tint) {
  background: rgba(255, 241, 206, $tint);
}
@mixin bg-orange($tint) {
  background: rgba(255, 147, 17, $tint);
}
@mixin bg-red($tint) {
  background: rgba(214, 71, 0, $tint);
}
@mixin bg-white($tint) {
  background: rgba(255, 255, 255, $tint);
}

$font-Comfortaa: 'Comfortaa';


/*----- Global -----*/

body {
	background: $color-white;
	text-align: center;
}

h1 {
	font-size: 3em;
	color: $color-white;
	margin:40px 0;
	padding: 0 10px;
}
h3 {
	font-size: 1.2em;
	margin: 10px 0;
}
a {
	float: right;
	background: $color-orange;
	border-radius: 6px;
	padding: 8px 12px;
	color: $color-white;
	text-decoration: none;
	transition: all 1s ease-out;
	&:hover {
		background: $color-red;
	}
}

/*----- Typography -----*/

body {
	font-family: Arial;
}
h1,h2,h3,h4,h5, .price {
	font-family: $font-Comfortaa;
	font-weight: 700;
}
.price {
	font-style: italic;
    display: block;
    margin: 10px 0;
}

/*----- Color -----*/

.header {
	@include bg-lightblue(1);
	&.outer {
    	@include bg-lightblue(.5);
    }
    &.secondary {
    	@include bg-lightblue(.7);
    }
}
.mid {
	@include bg-white(1);
	&.outer {
    	@include bg-lightblue(.15);
    }
    &.secondary {
    	@include bg-lightblue(.3);
    }
}
.footer {
	@include bg-darkblue(1);
	&.outer {
    	@include bg-darkblue(.5);
    }
    &.secondary {
    	@include bg-darkblue(.7);
    }
}

/*----- Structure -----*/

.grid {
	display: grid;
	grid-template-columns:  [left] 16vw 
							[middle] auto 
							[right] 16vw;

    grid-template-rows: 	[row-1] 14vh
    						[row-2] auto
    						[row-3] 4vh;
	grid-template-areas: 	"header header header"
                       		"main-left main main-right"
                       		"footer footer footer";
    grid-gap: 1em 1em;
    .item {
		color: $color-white;
	}
}

.products {
	display: grid;
	grid-template-columns:  [left] 1fr
							[middle] 1fr 
							[right] 1fr;

    grid-template-rows: 	[row-1] 1fr
    						[row-2] 1fr
    						[row-3] 1fr;
    align-items: center;
    grid-gap: 1em 1em;
   	div {
   		background: $color-white;
   		color: $color-darkblue;
   		img {
   			max-width: 100%;
   		}
   	}
}

@media (max-width: 1024px) {
	.grid {		
		grid-template-columns:  [left] 10% 
								[middle] auto 
								[right] 10%;

	    grid-template-rows: 	[row-1] 1fr
	    						[row-2] 5fr
	    						[row-3] 1fr;
	}
	h1 {
		margin:70px 0;
	}
}
@media (max-width: 768px) {
	.grid {		
		grid-template-columns:  [left] 0% 
								[middle] auto 
								[right] 0%;

	    grid-template-rows: 	[row-1] 200px
	    						[row-2] auto
	    						[row-3] 40px;
	}
	.products {
		grid-template-columns:  [left] 1fr
								[right] 1fr;

	    grid-template-rows: 	[row-1] 1fr
	    						[row-2] 1fr
	    						[row-3] 1fr
	    						[row-4] 1fr;
	}
	h1 {
		font-size: 3em;
		margin:20px 0;
		padding: 0 10px;
	}
}
@media (max-width: 419px) {
	.products {
		grid-template-columns:  [center] 1fr;
	}
}

